
/* ==========================
   RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#050505;
    color:#fff;
    font-family:'Bebas Neue',sans-serif;
    overflow-x:hidden;
    letter-spacing:1px;
}

/* ==========================
   NAVBAR
========================== */

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:25px 40px;

    background:rgba(0,0,0,.45);
    backdrop-filter:blur(6px);

    z-index:9999;
}
.menu-toggle{
    display:none;
    flex-direction:column;
    gap:5px;
    background:none;
    border:none;
    cursor:pointer;
}

.menu-toggle span{
    width:30px;
    height:3px;
    background:#ff0000;
    display:block;
}
.logo-nav{
    font-size:2rem;
    color:#fff;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:35px;
}

.navbar a{
    color:white;
    text-decoration:none;
    transition:.3s;
    font-size:1.2rem;
}

.navbar a:hover{
    color:#d60000;
}

.social-nav{
    display:flex;
    gap:20px;
}

/* ==========================
   HERO
========================== */

header{

    min-height:100vh;

    background:
    linear-gradient(
        rgba(0,0,0,.45),
        rgba(0,0,0,.75)
    ),
    url('../img/spoty2.jpg');

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}



.logo-central{

    width:850px;
    max-width:95%;

    filter:
    drop-shadow(0 0 10px rgba(255,255,255,.15))
    drop-shadow(0 0 30px rgba(255,255,255,.08));
}

.slogan{

    margin-top:25px;

    font-size:2rem;

    letter-spacing:4px;

    margin-bottom:40px;
}

.hero-buttons{

    display:flex;
    justify-content:center;

    gap:20px;

    flex-wrap:wrap;
}

.btn-red,
.btn-dark{
    display:inline-block;
    padding:14px 35px;
    text-decoration:none;
    font-family:'Bebas Neue',sans-serif;
    font-size:22px;
    letter-spacing:1px;
    text-transform:uppercase;
    transition:.3s;
}

.btn-red{
    border:2px solid #c40000;
    color:#fff;
    background:rgba(0,0,0,.4);
}

.btn-red:hover{
    background:#c40000;
}

.btn-dark{
    border:2px solid #666;
    color:#fff;
    background:rgba(0,0,0,.4);
}

.btn-dark:hover{
    border-color:#c40000;
    background:#111;
}

.spotify-link{
    display:flex;
    justify-content:center;
    margin-top:20px;
    margin-bottom:20px;
}

.spotify-link .btn-dark{
    display:inline-block;
}
.btn-dark:hover{

    background:white;
    color:black;
}

.scroll-down{

    margin-top:40px;

    font-size:3rem;

    animation:scroll 1.5s infinite;
}

@keyframes scroll{

    0%{transform:translateY(0);}
    50%{transform:translateY(10px);}
    100%{transform:translateY(0);}
}

/* ==========================
   SECCIONES
========================== */

section{
    background:
    linear-gradient(
        rgba(0,0,0,.92),
        rgba(0,0,0,.92)
    ),
    url('../img/gurnge2.jpg');

    background-size:cover;
    background-position:center;
}

h2{

    font-size:3rem;

    margin-bottom:30px;

    border-left:6px solid #d60000;

    padding-left:15px;
}

/* ==========================
   BIO
========================== */

.bio-grid{
    display:grid;
    grid-template-columns:45% 55%;
    gap:40px;

    align-items:start;
}

.bio-text p{

    font-family:Georgia, serif;

    line-height:1.8;

    font-size:1.2rem;

    margin-bottom:20px;
}

.bio-image{
    display:flex;
    justify-content:center;
    align-items:center;
}

.bio-image img{
    width:100%;
    max-height:630px;
    object-fit:cover;

    border:1px solid #333;

    filter:grayscale(20%);
}
.bio-text{

    padding:40px;
}

.bio-text p{

    font-family:Georgia, serif;

    font-size:1.4rem;

    line-height:1.9;
}

.bio-text .btn-red{

    margin-top:30px;

    display:inline-block;
}
#bio{
    background:
    linear-gradient(
        rgba(0,0,0,.92),
        rgba(0,0,0,.92)
    ),
    url('../img/fondoroca.jpg');

    background-size:cover;
    background-position:center;
}
/* ==========================
   GRID DOBLE
========================== */

.contenedor-doble{

    display:grid;

    grid-template-columns:1fr 1fr;
}

.contenedor-doble section{

    border-top:1px solid #222;
}

.contenedor-doble section:first-child{

    border-right:1px solid #222;
}

/* ==========================
   SPOTIFY
========================== */

.spotify-card{

    background:#111;

    padding:15px;

    border:1px solid #333;

    margin-bottom:20px;
}
/* ==========================
   VIDEO OFICIAL
========================== */
#musica h2,
#video h2{

    font-size:4rem;

    text-transform:uppercase;

    letter-spacing:2px;

    border-left:8px solid #d60000;

    padding-left:20px;

    margin-bottom:35px;
}


.video-wrapper{

    max-width:1000px;

    margin:0 auto;

    border:1px solid #333;

    box-shadow:0 0 30px rgba(0,0,0,.6);
}

.video-wrapper iframe{

    width:100%;

    aspect-ratio:16/9;

    display:block;
}

.video-texto{

    margin-top:25px;
}

.video-texto h3{

    color:#d60000;

    font-size:2rem;

    margin-bottom:10px;
}

.video-texto p{

    font-family:Georgia, serif;

    font-size:1.1rem;
}

/* ==========================
   GALERIA
========================== */

#galeria{

    padding:70px;

    border-top:1px solid #222;

    background:
    linear-gradient(
        rgba(0,0,0,.90),
        rgba(0,0,0,.90)
    ),
    url('../img/textura.jpg');

    background-size:cover;
}

.galeria{

    display:grid;

    grid-template-columns:
    repeat(3,1fr);

    gap:20px;
}

.galeria img{

    width:100%;

    height:350px;

    object-fit:cover;

    border:1px solid #333;

    transition:.3s;
}

.galeria img:hover{

    transform:scale(1.03);

    border-color:#d60000;
}

/* ==========================
   SHOWS
========================== */

.shows-grid{

    display:grid;

    grid-template-columns:
    repeat(2,1fr);

    gap:20px;
}

.show-card{

    background:#111;

    border:1px solid #333;

    padding:25px;

    text-align:center;

    transition:.3s;
}

.show-card:hover{

    border-color:#d60000;
}

.dia{

    display:block;

    font-size:5rem;

    color:white;
}

.mes{

    color:#d60000;

    font-size:1.5rem;

    display:block;

    margin-bottom:10px;
}

.show-card p{

    font-family:Georgia, serif;

    margin-top:10px;
}

/* ==========================
   FORMULARIO
========================== */

form{

    display:flex;

    flex-direction:column;

    gap:15px;
}

input,
textarea{

    background:#111;

    border:1px solid #333;

    color:white;

    padding:15px;

    font-size:1rem;
}

textarea{

    min-height:180px;
}

button{

    background:#b00000;

    color:white;

    border:none;

    padding:15px;

    cursor:pointer;

    font-family:'Bebas Neue',sans-serif;

    font-size:1.2rem;

    transition:.3s;
}

button:hover{

    background:#d60000;
}


/* ==========================
    FOOTER
========================== */

footer{

    background:#050505;

    border-top:1px solid #222;

    padding:25px 40px;
}

.footer-content{

    max-width:1400px;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:30px;
}

.footer-logo{

    width:160px;

    filter:
    drop-shadow(0 0 8px rgba(255,255,255,.10));

    transition:.3s;
}
.footer-logo:hover{

    transform:scale(1.05);
}

.footer-info{

    flex:1;
}

.footer-info h3{

    font-size:1.8rem;

    color:white;

    margin-bottom:5px;

    letter-spacing:2px;
}

.footer-info p{

    color:#999;

    font-family:Arial, sans-serif;

    font-size:.9rem;
}

.footer-social{

    display:flex;

    gap:20px;
}

.footer-social a{

    text-decoration:none;

    color:#999;

    transition:.3s;

    font-size:1rem;
}

.footer-social a:hover{

    color:#d60000;
}
.footer-social a{

    display:flex;

    align-items:center;

    gap:10px;

    text-decoration:none;

    color:#999;

    transition:.3s;

    font-size:1rem;
}

.footer-social i{

    font-size:1.3rem;
}

.footer-social a:hover{

    color:#d60000;

    transform:translateY(-2px);
}

/* ==========================
   FOOTER MOBILE
========================== */

@media(max-width:768px){

    .footer-content{

        flex-direction:column;

        text-align:center;
    }

    .footer-social{

        justify-content:center;
    }

    .footer-logo{

        width:75px;
    }
}
/* ==========================
   WHATSAPP
========================== */

.whatsapp-float{

    position:fixed;

    bottom:25px;

    right:25px;

    width:70px;
    height:70px;

    border-radius:50%;

    background:#25D366;

    color:white;

    display:flex;

    justify-content:center;
    align-items:center;

    text-decoration:none;

    font-size:32px;

    z-index:9999;

    box-shadow:0 0 20px rgba(0,0,0,.4);
}

/* ==========================
   RESPONSIVE
========================== */

@media(max-width:900px){

    

    .contenedor-doble{

        grid-template-columns:1fr;
    }

    .bio-grid{

        grid-template-columns:1fr;
    }

    .galeria{

        grid-template-columns:1fr;
    }

    .shows-grid{

        grid-template-columns:1fr;
    }

    .footer-grid{

        grid-template-columns:1fr;

        gap:25px;
    }

    .logo-central{

        width:450px;
    }
}

@media(max-width:768px){

    .navbar{
        justify-content:space-between;
        flex-wrap:wrap;
    }

    .menu-toggle{
        display:flex;
    }

    .navbar ul{
        display:none;
        width:100%;
        flex-direction:column;
        text-align:center;
        gap:20px;
        padding:20px 0;
    }

    .navbar ul.active{
        display:flex;
    }

    .social-nav{
        display:none;
    }

    section{
        padding:40px 20px;
    }

    h2{
        font-size:2rem;
    }

    .slogan{
        font-size:1.2rem;
    }
}
@media(max-width:768px){

    header{
        background-image:
        linear-gradient(
            rgba(0,0,0,.45),
            rgba(0,0,0,.75)
        ),
        url('../img/mobile-hero.png');
    }

}
